@media (min-width: 1200px) {

  .menu .menu-time,
  .menu-score,
  .menu-lives {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .8rem;
  }

  .menu-lives h2 {
    display: block;
  }
}